<nav class="navbar bg-primary" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color:beige">WebSiteName</a>
    </div>
    <div class="nav navbar-nav">
      <a href="#" style="color:beige">Home</a>&nbsp;&nbsp;
      <a href="#"style="color:beige">Page 1</a>&nbsp;&nbsp;
      <a href="#"style="color:beige">Page 2</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="fa fa-user" style="color:beige"></span> Sign Up</a></li>
      <li><a href="#"><span class="fa fa-lock" style="color:beige"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="container bg-light">
    <div class="card-group row no-gutters">
      <div class="col-4 mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text ...</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-8 mx-auto">
        <div class="card"> <!-- style="width: 20rem;"-->
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <app-chart-data></app-chart-data>
            <!--<p class="card-text">Some quick example text ...</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>-->
          </div>
        </div>
      </div> 
    </div>
    <div class="card-group row no-gutters">
      <div class="col-4 mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text ...</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-4 mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text ...</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-4 mx-auto">
        <div class="card"> <!-- style="width: 20rem;"-->
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text ...</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> 
    </div>
</div>
  

<router-outlet></router-outlet>