<div class="card-group row no-gutters">
  <div class="col-x-4 mx auto"></div>  <!--- empty col for spacing--> 
  <div class="col-x-4 mx-auto" >
    <div class="card"> 
      <div class="card-body">
        <h4 class="card-title" style="text-align: center;"> Total Performance</h4>
        <div class="card-text" >
         <table> 
           <tr><td> <i class="fa fa-user-plus fa-2x"></i></td>
             <td >&nbsp;Average cost of customer acquisition </td>&nbsp;<td>{{av_cust_acc|currency}} </td>
           </tr>
           <tr><td> <i class="fa  fa-bar-chart fa-3x fa-2x"></i></td> 
             <td>Average customer LTV</td>&nbsp;<td>{{av_cust_ltv|currency}}</td>
           </tr>
           <tr><td> <i class="fa fa-money fa-2x"></i></td>
             <td>&nbsp; Average Profit per Unit</td>&nbsp;<td>{{averageProfitUnit|currency}}</td>
           </tr>
          </table>
        </div><!--card text-->
      </div>  <!--card body-->
    </div> <!--card-->
  </div> <!--col -->
  <div class="col-sx-4 mx-auto">
    <div class="card"> 
      <div class="card-body">
        <h4 class="card-title" style="text-align: center;">Period</h4>
          <form [formGroup]="myForm" (ngSubmit)="OnSubmit()">
           <div class="col-sm-12  form-group">
                <input type="text" class="form-control mb-8" 
                  style="font-size: small;" 
                  placeholder="Choose dates"
                  bsDaterangepicker
                  [minDate]="sDate"
                  [maxDate]="eDate"
                  formControlName="range" />
                 
            <!--    <pre *ngIf="myForm.value.range"
                  class="code-preview">from {{myForm.value.range[0] | date :format}} to {{myForm.value.range[1] | date:format}}</pre>
            --> 
            <div style="text-align: center;">
              <button class="btn btn-primary" type="submit">Display data</button>
            </div>
            </div>      
          </form>
      </div> <!-- card body-->
    </div> <!-- card-->
  </div> <!-- col -->
 
  <div class="col-x-4 mx-auto" >
      <div class="card"> 
        <div class="card-body">
          <h4 class="card-title"> KPIs for the period</h4>
          <div class="card-text" >
            <table> 
             <tr><td> <i class="fa fa-cart-plus fa-2x"></i></td>
               <td>&nbsp;  Sales </td>&nbsp;<td>  {{salesYTD|currency}}</td>
             </tr>
             <tr><td> <i class="fa  fa-credit-card  fa-2x"></i></td> 
               <td>Average revenue</td>&nbsp;<td>{{averageRevenue|currency}}</td>
             </tr>
             <tr><td> <i class="fa fa-handshake-o fa-2x"></i></td>
               <td>&nbsp; Total Profit</td>&nbsp;<td>{{profitYTD|currency}}</td>
             </tr>
            </table>
          </div><!--card text-->
        </div>  <!--card body-->
      </div> <!--card-->
    </div> <!--col -->
    <div class="col-x-4 mx auto"></div>  <!--- empty col for spacing--> 
 </div> <!-- end of row-->

  
 <div class="card-group row no-gutters">
      <div class="col-6 mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Sales by Channel</h4>
           <div >
              Chart view<mat-slide-toggle (click)="changeVisibility();" id="showSlider">Table view</mat-slide-toggle>
           </div> <br><br>
            <div class="card-text">
             <app-pie-chart #pieChart [data]="salesData" id='pieChart'></app-pie-chart>
             <div  id='salesTable'#salesTable style="display:none">
              <button  class="btn btn-primary" (click)="saveAsCSV();" style="position: relative; margin-left: 10px;"><i class="fa fa-download"></i>.CSV</button>
              <br/>
              <br/>
              <table class="u_table"> 
                 <thead>
                 <tr>
                    <th rowspan="2">Date</th>
                    <th colspan="2">Retail sales</th>
                    <th colspan="2">Online sales</th>
                    <th colspan="2">Wholesale sales</th>
                 </tr>
                 <tr> 
                    <th>Sales</th>
                    <th>Expense</th>
                    <th>Sales</th>
                    <th>Expense</th>
                    <th>Sales</th>
                    <th>Expense</th>
                 </tr>
                 </thead>
                 <tr *ngFor="let dat of salesData">
                    <td>{{dat.date}}</td>
                    <td>{{dat.sales1|currency}}</td>
                    <td>{{dat.sales2|currency}}</td>
                    <td>{{dat.sales3|currency}}</td>
                    <td>{{dat.expense1|currency}}</td>
                    <td>{{dat.expense2|currency}}</td>
                    <td>{{dat.expense3|currency}}</td>
                 </tr>
              </table>
             </div> <!-- end of data table--->
            </div> <!-- end of card body-->
          </div> <!-- end of card -->
        </div> <!-- End of chart card--> 
      </div> <!-- end of col-->    
      <div class="col-6 mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Total Sales and Expense</h4>
            <div class="card-text">
             <!--<app-pie-chart [data]="salesData" ></app-pie-chart>-->
             <app-perf-chart #perfChart [data]="salesData"></app-perf-chart>
            </div>
          </div>
        </div>
      </div> <!-- End of chart card--> 
     
      </div><!-- row-->



