/* You can add global styles to this file, and also import other style files */
$theme-colors: (
  "primary": #06a59a,
  "danger": #ff4136,
  "light":#46c1f1
);
.navbar-custom {
  background-image: linear-gradient(to right,#06a59a , #beeeeb);
 }
.no-gutters{
  width:100%;
  margin-left:0;
  margin-right:0;
  background-image: linear-gradient(to right,#06a59a , #beeeeb);
}
.card{
  margin:5px;
}
.container {
 max-width: 2500px;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  font-size: 0px;
  display: flex;
  flex-wrap: wrap
}
body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}


@import  "~bootstrap/scss/bootstrap.scss";