<div class="container">
  
    <div class="card-group row no-gutters">
      <div class="col-4 mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
           <app-datepicker></app-datepicker>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-8 mx-auto">
        <div class="card"> <!-- style="width: 20rem;"-->
          <div class="card-body">
            <h4 class="card-title">Real-time chart</h4>
            <app-chart-data></app-chart-data>
            <!--<p class="card-text">Some quick example text ...</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>-->
          </div>
        </div>
      </div> 
    </div>
    <div class="card-group row no-gutters">
      <div class="col-4 mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text ...</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-4 mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text ...</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-4 mx-auto">
        <div class="card"> <!-- style="width: 20rem;"-->
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Text</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> 
    </div>
  
 
</div>
