 
    <div class="card-group row no-gutters">
      <div class="col-4 mx-auto">
        <div class="card">
          <div class="card-body"  id="chart">
            <h4 class="card-title">Main Dashboard</h4>
             <p class="card-text">Order Status in the real-time</p>
            
          </div> <!-- card body-->
        </div> <!-- card-->
        <div class="row">
          <div class="col-12 mx-auto">
            <div class="card">
              <div class="card-body" style="text-align: center;">
                <h4 class="card-title">Sales Performance</h4>
                <p class="card-text">For more details on sales performance and historical KPIs' press the button below</p>
                <a routerLink='/calendar/perf' class="btn btn-primary">Display data</a>
              </div><!-- card-body-->
            </div> <!-- card-->
          </div> <!-- col-->  
        </div> <!--row-->
      </div> <!-- col -->
      <div class="col-8 mx-auto">
        <div class="card"> 
          <div class="card-body">
            <h4 class="card-title">Real-time chart</h4>
             <app-chart-data></app-chart-data>
           </div> <!-- card body-->
        </div><!-- card-->
      </div> <!-- col-->
    </div><!-- row no-gutters-->
    
  
    
   


